* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
}
main {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    width: 85vw;
    border: 1pt solid black;
    padding: 1rem 2rem;
    position: relative;
    bottom: 10vh;
    text-align: center;
}
.hidden {
    display: none;
}
.display {
    width: 85vw;
    border: 1pt solid black;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
}
@media only screen and (min-width: 800px) {
    h1 {
        width: auto;
        bottom: 5vh;
    }
}