* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
}
main {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    width: 85vw;
    border: 1pt solid black;
    padding: 1rem 2rem;
    position: relative;
    bottom: 10vh;
    text-align: center;
}
.hidden {
    opacity: 0;
}
.display {
    width: 85vw;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
}
.display-group {
    width: 80px;
    margin: 20px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    border: 1pt solid black;
    position: relative;
}
.label {
    width: 100%;
    text-align: center;
    font-size: 14pt;
    font-weight: normal;
    position: absolute;
    top: -45px;
}
@media only screen and (min-width: 800px) {
    h1 {
        width: auto;
        bottom: 5vh;
    }
}